<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.dgcredit.modulea">

    <application
        android:name="debug.AModuleApplication"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".Main2Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
